/* .cont{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
      
    > .card{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap; 
        width:256px;
      >  img{
            margin: 10px;
            width: 80%;
            height: 150px;
        }
    }
} */
.cont{
    resize: horizontal;
    overflow: auto;
    height: auto;
    width: 10%;
    padding:5px;
    border-radius: 25px;
    background-color:aquamarine;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,3fr));
    gap:15px;
    justify-content: center;
}
.card{
    /* background-color: #fd1afd; */
    color: black;
}
img{
            width: 150px;
            height: 200px;
}


